input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #3c3c3c !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  border: 2px solid black !important;
}

input:focus {
  outline: none !important;
  border: 2px solid black !important;
}
