---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="No se encuentra">
  <section
    class="min-h-[70vh] px-5 py-2 flex flex-col gap-5 justify-center items-center font-cabinetGroteskBold"
  >
    <h1 class="text-7xl lg:text-9xl">404</h1>
    <h2 class="text-2xl lg:text-3xl md:text-center text-pretty">
      UPS... Parece que la p치gina que buscas no existe o ya no est치 disponible
    </h2>
    <img
      src="/img/404.gif"
      alt="Ilustraci칩n de p치gina no encontrada"
      class="aspect-video rounded-lg border-2 border-white"
    />
  </section>
</Layout>
