---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Emblem - No se encuentra la página especificada">
  <section
    class="min-h-[70vh] px-5 py-2 flex flex-col gap-5 justify-center items-center font-cabinetGroteskBold"
  >
    <h1 class="text-2xl lg:text-4xl">Panel de administración</h1>
    <h3>¿Que deseas realizar?</h3>
    <article class=""></article>
  </section>
</Layout>
