---
import Layout from "@/layouts/Layout.astro";
import AdminPanel from "@/components/React/AdminPanel";
import { getSession } from "auth-astro/server";

const sessionGoogle = await getSession(Astro.request);
const user = Astro.locals.user;

// Si el usuario no ha iniciado sesi칩n, o ha iniciado sesi칩n con Google, o tiene el rol "user", redirige a la p치gina de inicio
if (!user || (sessionGoogle && sessionGoogle.user) || user.role === "user") {
  return Astro.redirect("/");
}

if (user.role !== "admin") {
  return Astro.redirect("/");
}
---

<Layout title="Emblem - Administraci칩n">
  <section
    class="min-h-[70vh] px-5 py-2 flex flex-col gap-5 justify-center items-center font-cabinetGroteskBold"
  >
    <AdminPanel
      id={user.id}
      status={user.status}
      loginAttempts={user.loginAttempts}
      client:load
    />
  </section>
</Layout>
