---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";

const response = await fetch("http://localhost:4321/api/items");
const data = await response.json();
---

<!-- Componente principal que representa la página de camisetas -->
<Layout title="Emblem - Camisetas">
  {/* Sección principal de la página */}
  <section
    class="bg-gradient-to-l from-rose-100 to-teal-100 relative min-h-screen pt-8 pb-8 md:pt-0 md:pb-0 md:pr-16 md:pl-16 interFont text-base lg:text-lg"
  >
    {/* Título de la sección */}
    <h1 class="text-5xl text-left md:text-center p-4 font-cabinetGroteskBold pt-10">
      Nuestras prendas
    </h1>

    {/* Contenedor para las tarjetas de las camisetas */}
    <article
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-content-center pt-10 md:pb-20 gap-10 md:gap-5 pb-5 mr-4 ml-4"
    >
      {
        data.camisetas.map((camiseta) => (
          <Card
            nombre={camiseta.item_name}
            precio={camiseta.item_price}
            img={`https://res.cloudinary.com/dle7lr00f/image/upload/v1709637639/${camiseta.item_img_name}-back`}
            link={camiseta.item_id}
          />
        ))
      }
    </article>
  </section>
</Layout>
