---
import { CheckoutStripe } from "@/components/React/StripeSession";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emblem - Checkout</title>
  </head>
  <body>
    <CheckoutStripe client:load />
  </body>
</html>
