---
import { CheckoutStripe } from "@/components/React/StripeSession";
import { getSession } from "auth-astro/server";

const sessionGoogle = await getSession(Astro.request);
const user = Astro.locals.user;
let userId = null;
if (user) {
  userId = user.id;
} else if (sessionGoogle) {
  userId = sessionGoogle.user.id;
} else {
  userId = null;
  return Astro.redirect("/login");
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emblem - Checkout</title>
  </head>
  <body>
    <CheckoutStripe userId={userId} client:load />
  </body>
</html>
