---
import { ForgotPasswordForm } from "@/components/ForgotPassword.tsx";
import Layout from "@/layouts/Layout.astro";
import Url from "@/components/Url.astro";

---

<Layout title="Emblem - He olvidado mi contraseña">
  <section
    class="flex flex-col justify-center items-center py-10 px-5 min-h-[70vh]"
  >
    <ForgotPasswordForm client:load>
      <Url />
    </ForgotPasswordForm>
  </section>
  
</Layout>
