---
import { ForgotPasswordForm } from "@/components/React/ForgotPasswordForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Emblem - He olvidado mi contraseña">
  <section
    class="flex flex-col justify-center items-center py-10 px-5 min-h-[70vh]"
  >
    <ForgotPasswordForm client:load />
  </section>
</Layout>
