---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { Toast } from "@/components/Toast.tsx";
const ip = Astro.clientAddress;
console.log(ip);
const user = Astro.locals.user;
const session = Astro.locals.session;
if (!user) {
  // return Astro.redirect("/login");
  console.log("No hay usuario");
} else {
  console.log(user);
  console.log(session);
}
---

<Layout title="Emblem - Inicio">
  <section class="pt-5">
    <h1
      class="text-6xl md:text-7xl m-4 md:m-6 text-left md:text-center font-cabinetGroteskBold"
    >
      Emblem shop
    </h1>
    <p
      class="text-2xl md:text-3xl m-4 md:m-6 text-left md:text-center cabinetGrotesk-medium"
    >
      Ropa <strong>Emblem</strong>, donde cada prenda cuenta una historia de
      moda <strong class="text-indigo-500">asequible y vanguardista.</strong>
    </p>
  </section>

  <h2
    class="m-4 md:m-6 xl:ml-52 2xl:ml-60 text-left font-cabinetGroteskBold text-xl md:text-2xl pt-10"
  >
    Top Ventas
  </h2>
  <section
    id="seccionTopVentas"
    class="pb-20 mr-4 ml-4 md:gap-[1rem] md:mr-3 md:ml-3 lg:gap-5 xl:gap-12 relative"
  >
    <Card
      nombre="Camiseta astronaut black & green"
      precio="22"
      img="/img/emblem-green.png"
      link="/1"
    />
    <Card
      nombre="Camiseta astronaut white & purple"
      precio="22"
      img="/img/emblem-purple.png"
      link="/2"
    />
    <Card
      nombre="Camiseta emblem ovni black & red"
      precio="25"
      img="/img/emblem-red.png"
      link="/3"
    />
  </section>
</Layout>
{
  Astro.url.searchParams.get("account") === "created" && (
    <Toast
      message="Cuenta creada exitosamente"
      direction="top-right"
      theme="dark"
      client:load
    />
  )
}

{
  Astro.url.searchParams.get("account") === "logged" && (
    <Toast
      message="Has iniciado sesión correctamente"
      direction="top-right"
      theme="dark"
      client:load
    />
  )
}

<style>
  #seccionTopVentas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 767px) {
    #seccionTopVentas {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
