---
import Layout from "@/layouts/Layout.astro";
import EyeOff from "@/components/EyeOff.astro";
import EyeVisible from "@/components/EyeVisible.astro";
import { LoginForm } from "@/components/Login.tsx";
import Url from "@/components/Url.astro";
import { Toast } from "@/components/Toast.tsx";
---

<Layout title="Emblem - Inicio de sesión">
  <section class="px-5 py-10 flex justify-center items-center">
    <LoginForm client:load>
      <Url />
    </LoginForm>
  </section>
  {
    Astro.url.searchParams.get("password") === "changed" && (
      <Toast
        message="Contraseña modificada con éxito"
        position="top-right"
        theme="dark"
        client:load
      />
    )
  }
</Layout>

