---
import { SignupFormDemo } from "@/components/React/Input";
import Layout from "@/layouts/Layout.astro";
import Url from "@/components/Url.astro";
---

<Layout title="Emblem - Registro">
  <section class="py-10 font-cabinetGroteskBold px-5">
    <SignupFormDemo client:load>
      <Url />
    </SignupFormDemo>
  </section>
</Layout>
