---
import UserOptions from "./UserOptions.astro";

const user = Astro.locals.user;
const isUserLoggedIn = user !== null;
---

<!-- Header principal -->
<header
  class="h-[15vh] z-10 bg-gradient-to-r from-green-300 to-purple-400 flex justify-around md:grid md:grid-cols-12 md:justify-items-center items-center relative"
>
  <!-- Logo de la página -->
  <img
    src="/img/marciano2.png"
    alt="Imagen logotipo de la marca Emblem"
    class="w-16 md:w-20 h-auto select-none hover:scale-110 transition-transform duration-500 ease-in-out cursor-pointer md:col-span-3"
  />
  <!-- Menú de navegación oculto en móviles y visible en dispositivos más grandes -->
  <ul
    class="hidden md:flex gap-10 text-base lg:text-lg text-black font-cabinetGroteskBold cursor-pointer select-none md:col-span-6"
  >
    <li class="hover:scale-110 transition-transform duration-500 ease-in-out">
      <a href="/">Inicio</a>
    </li>
    <li class="hover:scale-110 transition-transform duration-500 ease-in-out">
      <a href="/camisetas">Productos</a>
    </li>
    <li class="hover:scale-110 transition-transform duration-500 ease-in-out">
      <a href="/quienesSomos">Colecciones</a>
    </li>
    <li class="hover:scale-110 transition-transform duration-500 ease-in-out">
      <a href="/contacto">Contacto</a>
    </li>
  </ul>

  <!-- Iconos de redes sociales ocultos en móviles y visibles en dispositivos más grandes -->
  <ul
    class="hidden md:flex justify-center items-center text-black cursor-pointer font-cabinetGroteskBold md:col-span-3"
  >
    {
      isUserLoggedIn ? (
        <li>
          <UserOptions />
        </li>
      ) : (
        <li>
          <a
            href="/login"
            class="flex justify-center items-center gap-2 rounded-md select-none hover:bg-white hover:shadow-md transition-all duration-500 ease-in-out px-2 py-2"
          >
            <svg
              data-testid="geist-icon"
              height="17"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="17"
              style="color: currentcolor;"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                fill="currentColor"
              />
            </svg>
            Login
          </a>
        </li>
      )
    }
  </ul>

  <!-- Nombre de EMBLEM -->
  <h2 class="md:hidden atomic-font text-4xl">emblem</h2>

  <!-- Iconos de redes sociales visibles en móviles y ocultos en dispositivos más grandes -->
  <section class="md:hidden">
    <!-- Botón de hamburguesa para móviles (oculto en tablets y ordenadores) -->
    <button id="menuToggle" class="md:hidden menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </button>
  </section>
  <!-- Menú desplegable para móviles -->
  <div class="mobile-menu" id="mobileMenu">
    <div id="closeButton" class="close-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-x"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M18 6l-12 12"></path>
        <path d="M6 6l12 12"></path>
      </svg>
    </div>
    <!-- Contenido del menú en móviles -->
    <img
      id="nombreUsuario"
      src="/img/marciano2.png"
      class="w-20 h-auto md:pb-3 pb-2"
      alt=""
    />

    <ul
      id="menuNav-mobile"
      class="flex flex-col gap-1 font-cabinetGroteskBold text-white"
    >
      {
        isUserLoggedIn ? (
          <li class="text-2xl text-balance">Bienvenido, {user.username}</li>
        ) : (
          <li>
            <a class="flex items-center gap-1" href="/login">
              <svg
                data-testid="geist-icon"
                height="17"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="17"
                style="color: currentcolor;"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                  fill="currentColor"
                />
              </svg>
              Login
            </a>
          </li>
        )
      }
      <li id="btnHome">
        <a class="flex items-center gap-2 text-xl" href="/"
          ><svg
            data-testid="geist-icon"
            height="20"
            stroke-linejoin="round"
            viewBox="0 0 16 16"
            width="20"
            style="color: currentcolor;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.5 6.56062L8.00001 2.06062L3.50001 6.56062V13.5L6.00001 13.5V11C6.00001 9.89539 6.89544 8.99996 8.00001 8.99996C9.10458 8.99996 10 9.89539 10 11V13.5L12.5 13.5V6.56062ZM13.78 5.71933L8.70711 0.646409C8.31659 0.255886 7.68342 0.255883 7.2929 0.646409L2.21987 5.71944C2.21974 5.71957 2.21961 5.7197 2.21949 5.71982L0.469676 7.46963L-0.0606537 7.99996L1.00001 9.06062L1.53034 8.53029L2.00001 8.06062V14.25V15H2.75001L6.00001 15H7.50001H8.50001H10L13.25 15H14V14.25V8.06062L14.4697 8.53029L15 9.06062L16.0607 7.99996L15.5303 7.46963L13.7806 5.71993C13.7804 5.71973 13.7802 5.71953 13.78 5.71933ZM8.50001 11V13.5H7.50001V11C7.50001 10.7238 7.72386 10.5 8.00001 10.5C8.27615 10.5 8.50001 10.7238 8.50001 11Z"
              fill="currentColor"></path></svg
          >Inicio</a
        >
      </li>
      <li id="btnProductos"><a href="/camisetas">Camisetas</a></li>
      <li id="btnQuienesSomos">
        <a href="/quienesSomos">Colecciones</a>
      </li>
      <li id="btnContacto"><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
</header>

<script>
  // Usamos astro:page-load para asegurarnos de que el DOM está completamente cargado al usar View Transitions
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menuToggle");
    const closeButton = document.getElementById("closeButton");
    const mobileMenu = document.getElementById("mobileMenu");
    const btnHome = document.querySelector("#btnHome");
    const btnProductos = document.querySelector("#btnProductos");
    const btnQuienesSomos = document.querySelector("#btnQuienesSomos");
    const btnContacto = document.querySelector("#btnContacto");

    function toggleMenu() {
      menuToggle.classList.toggle("active");
      mobileMenu.style.right = menuToggle.classList.contains("active")
        ? "0"
        : "-100%";
    }

    function cerrarMenu() {
      menuToggle.classList.remove("active");
      mobileMenu.style.right = "-100%";
    }

    if (menuToggle) {
      menuToggle.addEventListener("click", toggleMenu);
    }

    if (closeButton) {
      closeButton.addEventListener("click", cerrarMenu);
    }

    [btnHome, btnProductos, btnQuienesSomos, btnContacto].forEach((btn) => {
      if (btn) {
        btn.addEventListener("click", cerrarMenu);
      }
    });
  });
</script>

<style>
  /* CSS Para el menú móviles */

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Inicialmente oculto fuera del área visible */
    width: 90%;
    height: 100%;
    border-left: 1px solid white;
    background-color: black;
    transition: right 0.5s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    /* Establecer un ancho fijo */
    height: 30px;
    /* Establecer una altura fija */
    font-size: 24px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    /* Hacer el borde circular */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-toggle {
    cursor: pointer;
  }

  .menu-toggle.active ~ .mobile-menu {
    right: 0;
    /* Mostrar el menú desplegable al hacer clic */
  }
</style>
