---
import UserOptions from "./UserOptions.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

const user = Astro.locals.user;
const isUserLoggedIn = user !== null;
---

<!-- Header principal -->
<header
  class="h-[15vh] z-10 bg-transparent flex justify-around md:grid md:grid-cols-12 md:justify-items-center items-center relative text-white"
>
  <!-- Logo de la página -->
  <!-- <img
    src="/img/marciano2.png"
    alt="Imagen logotipo de la marca Future"
    class="w-16 md:w-20 h-auto select-none hover:scale-110 transition-transform duration-500 ease-in-out cursor-pointer md:col-span-3"
  /> -->
  <!-- Nombre de Future -->
  <h2
    class="hidden md:block atomic-font text-3xl md:col-span-3 select-none hover:scale-110 transition-transform duration-500 ease-in-out cursor-pointer"
  >
    future
  </h2>
  <!-- Menú de navegación oculto en móviles y visible en dispositivos más grandes -->
  <ul
    class="hidden md:flex gap-5 xl:gap-10 text-base xl:text-lg font-cabinetGroteskBold cursor-pointer select-none md:col-span-6"
  >
    <li
      class="hover:scale-110 hover:text-indigo-400 transition-all duration-500 ease-in-out"
    >
      <a href="/">Inicio</a>
    </li>
    <li
      class="hover:scale-110 hover:text-indigo-400 transition-all duration-500 ease-in-out"
    >
      <a href="/collections">Colecciones</a>
    </li>
    <li
      class="hover:scale-110 hover:text-indigo-400 transition-all duration-500 ease-in-out"
    >
      <a href="/camisetas">Prendas</a>
    </li>
  </ul>

  <!-- Iconos de redes sociales ocultos en móviles y visibles en dispositivos más grandes -->
  <ul
    class="hidden md:flex justify-center items-center cursor-pointer font-cabinetGroteskBold md:col-span-3"
  >
    {
      isUserLoggedIn || session ? (
        <li class="flex items-center">
          <UserOptions />
        </li>
      ) : (
        <li>
          <a
            href="/login"
            class="flex justify-center items-center gap-2 rounded-md select-none hover:bg-indigo-800 hover:shadow-md transition-all duration-500 ease-in-out px-2 py-2"
          >
            Iniciar sesión
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-login"
            >
              <>
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M21 12h-13l3 -3" />
                <path d="M11 15l-3 -3" />
              </>
            </svg>
          </a>
        </li>
      )
    }
  </ul>

  <!-- Nombre de Future -->
  <h2 class="md:hidden atomic-font text-4xl">future</h2>

  <!-- Iconos de redes sociales visibles en móviles y ocultos en dispositivos más grandes -->
  <section class="md:hidden">
    <!-- Botón de hamburguesa para móviles (oculto en tablets y ordenadores) -->
    <button id="menuToggle" class="md:hidden menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </button>
  </section>
  <!-- Menú desplegable para móviles -->
  <div class="mobile-menu" id="mobileMenu">
    <div id="closeButton" class="close-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-x"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M18 6l-12 12"></path>
        <path d="M6 6l12 12"></path>
      </svg>
    </div>
    <!-- Contenido del menú en móviles -->
    <!-- <img
      id="nombreUsuario"
      src="/img/marciano2.png"
      class="w-20 h-auto md:pb-3 pb-2"
      alt=""
    /> -->
    <!-- Nombre de Future -->
    <h2 class="atomic-font text-4xl md:col-span-3">future</h2>

    <ul id="menuNav-mobile" class="flex flex-col gap-1 font-cabinetGroteskBold">
      {
        isUserLoggedIn ? (
          <>
            <li class="text-2xl text-balance">Bienvenido, {user.username}</li>
            <li>
              <form method="post" action="/api/logout">
                <button class="flex items-center gap-2 text-xl w-full">
                  <svg
                    data-testid="geist-icon"
                    height="23"
                    stroke-linejoin="round"
                    viewBox="0 0 16 16"
                    width="23"
                    style="color: currentcolor;"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                      fill="currentColor"
                    />
                  </svg>
                  Log out
                </button>
              </form>
            </li>
          </>
        ) : (
          <li>
            <a class="flex items-center gap-2 text-xl" href="/login">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-login"
              >
                <>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M21 12h-13l3 -3" />
                  <path d="M11 15l-3 -3" />
                </>
              </svg>
              Login
            </a>
          </li>
        )
      }
      {
        user && user.role && user.role.includes("admin") ? (
          <li id="btnAdmin">
            <a class="flex items-center gap-2 text-xl" href="/admin">
              <svg
                data-testid="geist-icon"
                height="16"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="16"
                style="color: currentcolor;"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6.5 5.5C6.5 3.29086 8.29086 1.5 10.5 1.5C12.7091 1.5 14.5 3.29086 14.5 5.5C14.5 7.70914 12.7091 9.5 10.5 9.5C10.0496 9.5 9.61798 9.42583 9.21589 9.28964L9.09885 9.25H8.97528H8H7.25V10V12.25H5.75H5V13V14.5H1.5V11.5818L6.38022 7.14521L6.70674 6.84837L6.60585 6.41878C6.53673 6.12449 6.5 5.81702 6.5 5.5ZM10.5 0C7.46243 0 5 2.46243 5 5.5C5 5.77753 5.02062 6.05064 5.06048 6.31778L0.245495 10.695L0 10.9182V11.25V15.25V16H0.75H5.75H6.5V15.25V13.75H8H8.75V13V10.75H8.85639C9.37626 10.9126 9.92859 11 10.5 11C13.5376 11 16 8.53757 16 5.5C16 2.46243 13.5376 0 10.5 0ZM10.5 6.5C11.0523 6.5 11.5 6.05228 11.5 5.5C11.5 4.94772 11.0523 4.5 10.5 4.5C9.94771 4.5 9.5 4.94772 9.5 5.5C9.5 6.05228 9.94771 6.5 10.5 6.5Z"
                  fill="currentColor"
                />
              </svg>
              Administración
            </a>
          </li>
        ) : null
      }
      <li id="btnHome">
        <a class="flex items-center gap-2 text-xl" href="/"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-home"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
              d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
              d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
          >Inicio</a
        >
      </li>
      <li id="btnColecciones">
        <a class="flex items-center gap-2 text-xl" href="/collections"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            stroke="#ffffff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                fill="#ffffff"
                d="M133.3 33.41L77.89 47.25 34.6 148.3l33.29 22.2 27.46-54.9 17.05 4.9-15.07 150.1H245.2l9.2-87.9.9-8.1h4.5l-5.4-54.1 17.1-4.9 27.4 54.9 33.3-22.2-43.3-101.05-55.4-13.84c-5.5 3.87-12.2 6.21-19.5 7.95-9.4 2.21-20 3.24-30.6 3.24-10.6 0-21.2-1.03-30.6-3.24-7.3-1.74-14-4.07-19.5-7.95zM271.5 192.6l-1.5 14h178.8l-1.5-14zm-3.4 32l-26.7 254h62.7l46.5-216.9h17.6l46.5 216.9h62.7l-26.7-254z"
              ></path></g
            ></svg
          >Colecciones</a
        >
      </li>
      <li id="btnProductos">
        <a class="flex items-center gap-2 text-xl" href="/camisetas">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-shirt"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M15 4l6 2v5h-3v8a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-8h-3v-5l6 -2a3 3 0 0 0 6 0"
            ></path></svg
          >Prendas</a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  // Usamos astro:page-load para asegurarnos de que el DOM está completamente cargado al usar View Transitions
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menuToggle");
    const closeButton = document.getElementById("closeButton");
    const mobileMenu = document.getElementById("mobileMenu");
    const btnHome = document.querySelector("#btnHome");
    const btnProductos = document.querySelector("#btnProductos");
    const btnQuienesSomos = document.querySelector("#btnQuienesSomos");
    const btnContacto = document.querySelector("#btnContacto");

    function toggleMenu() {
      menuToggle.classList.toggle("active");
      mobileMenu.style.right = menuToggle.classList.contains("active")
        ? "0"
        : "-100%";
    }

    function cerrarMenu() {
      menuToggle.classList.remove("active");
      mobileMenu.style.right = "-100%";
    }

    if (menuToggle) {
      menuToggle.addEventListener("click", toggleMenu);
    }

    if (closeButton) {
      closeButton.addEventListener("click", cerrarMenu);
    }

    [btnHome, btnProductos, btnQuienesSomos, btnContacto].forEach((btn) => {
      if (btn) {
        btn.addEventListener("click", cerrarMenu);
      }
    });
  });
</script>

<style>
  /* CSS Para el menú móviles */

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Inicialmente oculto fuera del área visible */
    width: 90%;
    height: 100%;
    border-left: 1px solid white;
    background-color: black;
    transition: right 0.5s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    /* Establecer un ancho fijo */
    height: 30px;
    /* Establecer una altura fija */
    font-size: 24px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    /* Hacer el borde circular */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-toggle {
    cursor: pointer;
  }

  .menu-toggle.active ~ .mobile-menu {
    right: 0;
    /* Mostrar el menú desplegable al hacer clic */
  }
</style>
