---
import CartButton from "@/components/React/CartFlyoutToggle";
const user = Astro.locals.user;
import { SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const sessionGoogle = await getSession(Astro.request);
const userName = sessionGoogle?.user.email.split("@")[0].substring(0, 16);
---

<section class="relative inline-block group">
  <p
    class="cursor-pointer flex justify-center items-center gap-1 group-hover:bg-indigo-800 group-hover:shadow-md rounded-md rounded-bl-none rounded-br-none w-44 h-12 transition-all duration-500 ease-in-out"
  >
    <svg
      data-testid="geist-icon"
      height="16"
      stroke-linejoin="round"
      viewBox="0 0 16 16"
      width="16"
      style="color: currentcolor;"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2.5 3.25C2.5 1.45507 3.95507 0 5.75 0H6.25C8.04493 0 9.5 1.45507 9.5 3.25V3.75C9.5 5.54493 8.04493 7 6.25 7H5.75C3.95507 7 2.5 5.54493 2.5 3.75V3.25ZM5.75 1.5C4.7835 1.5 4 2.2835 4 3.25V3.75C4 4.7165 4.7835 5.5 5.75 5.5H6.25C7.2165 5.5 8 4.7165 8 3.75V3.25C8 2.2835 7.2165 1.5 6.25 1.5H5.75ZM1.5 13.1694C2.32482 11.4909 3.71318 10.5 5.5 10.5V9C2.97349 9 1.0827 10.4894 0.0690305 12.6857L0 12.8353V13V15.25V16H0.75H5.5V14.5H1.5V13.1694ZM10.0915 10.2175C10.4564 10.0309 10.7944 9.70265 10.9642 9.25H11.0358C11.2056 9.70265 11.5436 10.0309 11.9085 10.2175C11.9698 10.2488 12.0294 10.2833 12.0871 10.3208C12.4317 10.5446 12.886 10.6736 13.3637 10.5941L13.3994 10.6559C13.0923 11.0289 12.9765 11.4857 12.9973 11.8955C12.9991 11.93 13 11.9649 13 12C13 12.0351 12.9991 12.07 12.9973 12.1044C12.9765 12.5143 13.0923 12.9711 13.3994 13.3441L13.3637 13.4059C12.886 13.3264 12.4317 13.4554 12.0871 13.6792C12.0294 13.7167 11.9698 13.7512 11.9085 13.7825C11.5436 13.9691 11.2056 14.2973 11.0358 14.75H10.9642C10.7944 14.2973 10.4564 13.9691 10.0915 13.7825C10.0302 13.7512 9.97058 13.7167 9.91294 13.6792C9.56829 13.4554 9.11402 13.3264 8.63627 13.4059L8.60059 13.3441C8.90769 12.9711 9.02353 12.5144 9.00265 12.1045C9.00089 12.07 9 12.0351 9 12C9 11.9649 9.00089 11.93 9.00265 11.8955C9.02353 11.4856 8.9077 11.0289 8.60061 10.6559L8.63629 10.5941C9.11403 10.6736 9.56829 10.5446 9.91295 10.3208C9.97059 10.2833 10.0302 10.2488 10.0915 10.2175ZM14.4037 11.4079L14.9641 10.866L13.9641 9.13398L13.215 9.34827C13.0629 9.39177 12.9006 9.35863 12.7679 9.27247C12.6743 9.21169 12.5774 9.15559 12.4775 9.1045C12.3369 9.03257 12.2272 8.90865 12.1888 8.75537L12 8H10L9.81116 8.75537C9.77284 8.90865 9.66315 9.03257 9.52247 9.1045C9.42257 9.15558 9.32566 9.21168 9.23208 9.27247C9.09943 9.35862 8.93709 9.39176 8.78502 9.34826L8.03591 9.13397L7.03591 10.866L7.5963 11.4079C7.70977 11.5176 7.7623 11.6743 7.75427 11.8319C7.75143 11.8876 7.75 11.9436 7.75 12C7.75 12.0564 7.75143 12.1124 7.75427 12.168C7.7623 12.3257 7.70977 12.4824 7.5963 12.5921L7.03589 13.134L8.03589 14.866L8.78501 14.6517C8.93708 14.6082 9.09942 14.6414 9.23207 14.7275C9.32566 14.7883 9.42257 14.8444 9.52248 14.8955C9.66315 14.9674 9.77284 15.0913 9.81116 15.2446L10 16H12L12.1888 15.2446C12.2272 15.0913 12.3369 14.9674 12.4775 14.8955C12.5774 14.8444 12.6743 14.7883 12.7679 14.7275C12.9006 14.6414 13.0629 14.6082 13.215 14.6517L13.9641 14.866L14.9641 13.134L14.4037 12.5921C14.2902 12.4824 14.2377 12.3257 14.2457 12.168C14.2486 12.1124 14.25 12.0564 14.25 12C14.25 11.9436 14.2486 11.8876 14.2457 11.832C14.2377 11.6743 14.2902 11.5176 14.4037 11.4079Z"
        fill="currentColor"></path>
    </svg>
    {(user && user.username) || (sessionGoogle && userName)}
  </p>
  <ul
    class="absolute w-full top-[3rem] text-black shadow-md overflow-hidden opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out"
  >
    <li><CartButton client:load /></li>
    <li>
      <form method="post" action="/api/logout">
        <!-- Si el usuario ha iniciado sesión con la cuenta de Future se muestra este botón -->
        {
          user && (
            <button class="w-full bg-white flex justify-center items-center px-4 py-2 gap-2 transition-all duration-300 ease-in-out hover:bg-indigo-800 hover:text-white">
              <svg
                data-testid="geist-icon"
                height="16"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="16"
                style="color: currentcolor;"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                  fill="currentColor"
                />
              </svg>
              Cerrar sesión
            </button>
          )
        }
      </form>
      <!-- Si el usuario ha iniciado la sesión con Google se muestra este botón -->
      {
        sessionGoogle && (
          <SignOut class="w-full bg-white flex justify-center items-center px-4 py-2 gap-2 transition-all duration-300 ease-in-out hover:bg-indigo-800 hover:text-white">
            <svg
              data-testid="geist-icon"
              height="16"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="16"
              color="currentColor"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                fill="currentColor"
              />
            </svg>
            Cerrar sesión
          </SignOut>
        )
      }
    </li>

    {
      user && user.role && user.role.includes("admin") ? (
        <li>
          <a
            href="/admin"
            class="flex bg-white justify-center items-center px-4 py-2 gap-2 shadow-md transition-all duration-300 ease-in-out hover:bg-indigo-800 hover:text-white"
          >
            <svg
              data-testid="geist-icon"
              height="16"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="16"
              style="color: currentcolor;"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.5 5.5C6.5 3.29086 8.29086 1.5 10.5 1.5C12.7091 1.5 14.5 3.29086 14.5 5.5C14.5 7.70914 12.7091 9.5 10.5 9.5C10.0496 9.5 9.61798 9.42583 9.21589 9.28964L9.09885 9.25H8.97528H8H7.25V10V12.25H5.75H5V13V14.5H1.5V11.5818L6.38022 7.14521L6.70674 6.84837L6.60585 6.41878C6.53673 6.12449 6.5 5.81702 6.5 5.5ZM10.5 0C7.46243 0 5 2.46243 5 5.5C5 5.77753 5.02062 6.05064 5.06048 6.31778L0.245495 10.695L0 10.9182V11.25V15.25V16H0.75H5.75H6.5V15.25V13.75H8H8.75V13V10.75H8.85639C9.37626 10.9126 9.92859 11 10.5 11C13.5376 11 16 8.53757 16 5.5C16 2.46243 13.5376 0 10.5 0ZM10.5 6.5C11.0523 6.5 11.5 6.05228 11.5 5.5C11.5 4.94772 11.0523 4.5 10.5 4.5C9.94771 4.5 9.5 4.94772 9.5 5.5C9.5 6.05228 9.94771 6.5 10.5 6.5Z"
                fill="currentColor"
              />
            </svg>
            Administración
          </a>
        </li>
      ) : null
    }

    {
      user && (
        <li>
          <a
            href="/user-info"
            class="flex bg-white justify-center items-center px-4 py-2 gap-2 rounded-br-md rounded-bl-md shadow-md transition-all duration-300 ease-in-out hover:bg-indigo-800 hover:text-white"
          >
            <svg
              data-testid="geist-icon"
              height="16"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="16"
              color="currentColor"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 14.5C11.5899 14.5 14.5 11.5899 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5ZM8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM6.25 7H7H7.74999C8.30227 7 8.74999 7.44772 8.74999 8V11.5V12.25H7.24999V11.5V8.5H7H6.25V7ZM8 6C8.55229 6 9 5.55228 9 5C9 4.44772 8.55229 4 8 4C7.44772 4 7 4.44772 7 5C7 5.55228 7.44772 6 8 6Z"
                fill="currentColor"
              />
            </svg>
            Información
          </a>
        </li>
      )
    }

    {
      sessionGoogle && (
        <li>
          <a
            href="/user-orders"
            class="flex bg-white justify-center items-center px-4 py-2 gap-2 rounded-br-md rounded-bl-md shadow-md transition-all duration-300 ease-in-out hover:bg-indigo-800 hover:text-white"
          >
            <svg
              width="19px"
              height="19px"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              color="currentColor"
            >
              <>
                <path
                  d="M3 18C3.55228 18 4 17.5523 4 17C4 16.4477 3.55228 16 3 16C2.44772 16 2 16.4477 2 17C2 17.5523 2.44772 18 3 18Z"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21 7.35304L21 16.647C21 16.8649 20.8819 17.0656 20.6914 17.1715L12.2914 21.8381C12.1102 21.9388 11.8898 21.9388 11.7086 21.8381L3.30861 17.1715C3.11814 17.0656 3 16.8649 3 16.647L2.99998 7.35304C2.99998 7.13514 3.11812 6.93437 3.3086 6.82855L11.7086 2.16188C11.8898 2.06121 12.1102 2.06121 12.2914 2.16188L20.6914 6.82855C20.8818 6.93437 21 7.13514 21 7.35304Z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.52844 7.29363L11.7086 11.8382C11.8898 11.9388 12.1102 11.9388 12.2914 11.8382L20.5 7.27783"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 21L12 12"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </>
            </svg>
            Pedidos
          </a>
        </li>
      )
    }
  </ul>
</section>
