---
import Layout from "@/layouts/Layout.astro";
import { ResetPasswordForm } from "@/components/ResetPasswordForm.tsx";
import Url from "@/components/Url.astro";

const { id } = Astro.params;
---

<Layout title="Emblem - Cambia tu contraseña">
  <section class="min-h-[70vh] flex flex-col justify-center items-center px-5 py-10">
    <h1>Cambia aqui tu contraseña {id}</h1>
    <ResetPasswordForm id={id} client:load>
      <Url />
    </ResetPasswordForm>
  </section>
</Layout>
